body {
    background: rgb(172,195,242);
    background: radial-gradient(circle, rgba(172,195,242,1) 72%, rgba(254,159,201,1) 100%);
    font-family: Arial, sans-serif; 
    margin: 0;
    max-width: 100%; /* Center content by limiting the max width */
    padding: 0px;
    overflow-x: hidden;

    
}

article {
    background-color: rgba(128, 128, 128, 0.327);
    border-radius: 30px;
    padding: 30px 0 30px;
    border-color: black;
    border-style: solid;
    width: 60%;
    margin: 20px auto;
}

header {
    position: relative; /* Ensure it's part of the document flow */
    width: 100vw; /* Make it span the entire width of the viewport */
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.327);
    text-align: center;
    box-sizing: border-box;
    
}

footer{
    position: relative; /* Ensure it's part of the document flow */
    width: 100vw; /* Make it span the entire width of the viewport */
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.327);
    box-sizing: border-box;

}


h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
}
 
h2{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}

ul li {
    margin: 0; 
}

ul li a {
    display: block;
    font-weight: bold;
    padding: 10px 15px; /* Adjust padding for spacing */
    color: #000;
    text-decoration: none; 
    
}

#lab1, #lab2, #lab3, #lab5, #lab6{
    background-color: rgba(128, 128, 128, 0.327);
    border-radius: 30px;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}